# dev
NEXT_PUBLIC_APP_URL=http://localhost:3000

API_URL=http://localhost:3000
COUCH_URL=http://admin:secret123@127.0.0.1:5984

# prod
# NEXT_PUBLIC_APP_URL=http://kanban.com
# API_URL=http://backend-service

